body {
    background-color: yellow;
    border-style: solid;
    border-width: thick;
    border-color:rgb(255, 136, 0);
    padding: 5%;
}
h1 {
    margin: auto;
    color: rgb(255, 136, 0);
    text-align: center;
    font-size: 48px;
    border-style: solid;
    border-color: rgb(255, 136, 0);
    border-width: thick;
    border-top-right-radius: 1cm;
    border-bottom-left-radius: 1cm;
    width: 35%;
    padding: 20px;
    background-color: white;
    margin-bottom: 1%;
}
.image-holder {
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  /* adjust this value to change the distance between the image-cards */
}

.selector {
  margin-top: 10px;
      /* adjust this value to change the distance between the image and the button */
}

/* CSS */
.button-52 {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid rgb(255, 136, 0);
  cursor: pointer;
  position: relative;
  background-color: white;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-52:after {
  content: "";
  background-color: rgb(255, 136, 0);
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.button-52:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .button-52 {
    padding: 13px 50px 13px;
  }
}

